<style>
   .team-member {
     text-align: center;
     margin: 20px;
     box-sizing: border-box;
   }

   .team-memberl-l,
   .team-member-r {
     flex-basis: calc(25% - 40px); /* Ensures 4 items per row */
   }

   .team-member img {
     width: 200px;
     height: 200px;
     border-radius: 20%;
     object-fit: cover;
   }

   .team-member h2 {
     margin: 5px 0;
     font-size: 1.5rem;
   }

   .team-member p {
     margin: 5px 0;
     font-size: 1rem;
   }
</style>

<section class="section services py-5">
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-12 col-xl-6">
            {{ with .content.title }}
            <h3 class="fs-1 fw-bold text-center text-black-61">{{ . }}</h3>
            {{ end }}
         </div>
      </div>
      <!-- team-members -->
      <div class="row justify-content-center">
         {{ range .content.cardsl }}
         <div class="team-member team-memberl-l col-6 col-md-3">
            {{ with .image }}{{ partial "utilities/image-fluid.html" . }}{{ end }}
            {{ with .name }}
            <h2 class="text-primary">{{ . }}</h2>
            {{ end }}
            {{ with .title }}
            <p class="text-black-61"><b>{{ . }}</b></p>
            {{ end }}
            {{ with .info1 }}
            <p class="text-black-61">{{ . }}</p>
            {{ end }}
            {{ with .info2 }}
            <p class="text-black-61">{{ . }}</p>
            {{ end }}
            {{ with .info3 }}
            <p class="text-black-61">{{ . }}</p>
            {{ end }}
            <ul class="d-flex justify-content-center justify-content-center list-unstyled">
               {{ with .contact }}
               <li class="rounded-circle bg-blue-63 me-2 p-2"><a class="d-flex align-items-center justify-content-center size-16" href="{{ . }}">{{ partial "icons/mail.html" }}</a></li>
               {{ end }}
               {{ with .linkedin }}
               <li class="rounded-circle bg-blue-63 me-2 p-2"><a class="d-flex align-items-center justify-content-center size-16" href="{{ . }}">{{ partial "icons/linkedin.html" }}</a></li>
               {{ end }}
<!--                {{ with .twitter }}
               <li class="rounded-circle bg-blue-63 me-2 p-2"><a class="d-flex align-items-center justify-content-center size-16" href="{{ . }}">{{ partial "icons/twitter.html" }}</a></li>
               {{ end }} -->
            </ul>
         </div>
         {{ end }}
         {{ range .content.cardsr }}
         <div class="team-member team-member-r col-6 col-md-3">
            {{ with .image }}{{ partial "utilities/image-fluid.html" . }}{{ end }}
            {{ with .name }}
            <h2 class="text-primary">{{ . }}</h2>
            {{ end }}
            {{ with .title }}
            <p class="text-black-61"><b>{{ . }}</b></p>
            {{ end }}
            {{ with .info1 }}
            <p class="text-black-61">{{ . }}</p>
            {{ end }}
            {{ with .info2 }}
            <p class="text-black-61">{{ . }}</p>
            {{ end }}
            {{ with .info3 }}
            <p class="text-black-61">{{ . }}</p>
            {{ end }}
            <ul class="d-flex justify-content-center justify-content-center list-unstyled">
               {{ with .contact }}
               <li class="rounded-circle bg-blue-63 me-2 p-2"><a class="d-flex align-items-center justify-content-center size-16" href="{{ . }}">{{ partial "icons/mail.html" }}</a></li>
               {{ end }}
               {{ with .linkedin }}
               <li class="rounded-circle bg-blue-63 me-2 p-2"><a class="d-flex align-items-center justify-content-center size-16" href="{{ . }}">{{ partial "icons/linkedin.html" }}</a></li>
               {{ end }}
               {{ with .twitter }}
               <li class="rounded-circle bg-blue-63 me-2 p-2"><a class="d-flex align-items-center justify-content-center size-16" href="{{ . }}">{{ partial "icons/twitter.html" }}</a></li>
               {{ end }}
            </ul>
         </div>
         {{ end }}
      </div>
      <br>
   </div>
</section>
